.login-button {
    justify-content: center;

    button {
        color: rgb(174, 9, 9);
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        font-family: 'Cairo',
            sans-serif;
        font-family: 'Diplomata',
            cursive;
        font-size: calc(15px + 1vw);
        outline: 0;
        display: inline-block;
        cursor: pointer;

        &:hover {
            color: rgb(70, 6, 6);
        }
    }
}